{% extends 'base.html'  %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Abordagem Ação Rua</h2>
    <h4 class="text-justify alert alert-warning">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pharetra,
        mauris eget sagittis condimentum, nisi arcu condimentum enim, sit amet tempus nulla odio malesuada quam. Proin
        sagittis efficitur massa, vel maximus risus ullamcorper id. Etiam ut bibendum enim. Mauris ex ligula, finibus ac
        bibendum eu, pulvinar eget odio. Vestibulum facilisis mattis felis vel aliquam. Sed eget volutpat magna. Nullam
        blandit volutpat enim non placerat. Quisque porttitor id ante eu molestie. </h4>
    <h4 class="text-justify alert alert-success">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pharetra, mauris eget sagittis condimentum, nisi
        arcu condimentum enim, sit amet tempus nulla odio malesuada quam. Proin sagittis efficitur massa, vel maximus
        risus ullamcorper id. Etiam ut bibendum enim. Mauris ex ligula, finibus ac bibendum eu, pulvinar eget odio.
        Vestibulum facilisis mattis felis vel aliquam. Sed eget volutpat magna. 

    </h4>
</div>


{% endblock content %}


